extends layout

block content
  div.loginbox
    form(name="login", action="/signup", method="post")
      input(id="name", type="text", name="name", placeholder="Name")
      input(id="email", type="text", name="email", placeholder="Email")
      input(id="pass", type="password", name="pass", placeholder="Password")
      input(type="submit", value="Sign Up!")

  br
  a(href="loginpage") Already a user? Log In!
